<header>
  <%= link_to "< Back", :back, class: "link back" %>
  <%= link_to "Inkling Blog", root_path, class: "logo" %>
  <% if current_user %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "link" %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "link" %>
    <a href=<%= user_path(current_user) %> class="header-avatar">
      <img src="<%= current_user.photo %>" alt=<%= current_user.name %> />
    </a>
  <% else %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "link" %>
  <% end %>
</header>